*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.upper-container{
  width: 70%;
  height: 10%;
  margin: 50px auto;
  position: relative;
}

.upper-container1{
  width: 30%;
  height: 100;
  padding-top: 20px;
}
#tasks{
  font-weight: bold;
  font-size: 3.5rem;
}
#lists{
  font-size: 3.5rem;
  margin-left: 10px;
  opacity: 0.5;
}
.upper-container2{
  width: 30%;
  height: 100;
  padding-top: 25px;
  position: absolute;
  top: 10px;
  left:880px;
}
.addlist{
  color: black;
  position: absolute;
  width: 70%;
  height: 100;
  top: 5px;
  left: 50px;
  font-size: 2rem;
  opacity: 0.5;
  padding-top: 25px;

}
.wrappercard{
display:grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 2rem;
margin: 2rem;
}
.card1{
  border: 1.5px solid rgb(247, 45, 45);
  height: 50vh;
  width: 20%;
  position: absolute;
  bottom: 150px;
  left: 220px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px grey;
}
  
.div1{
    position:absolute;
    top:15px;
    right: 0;
    font-size: 30px;
    width: 85%;
    text-align: left;
    height: 15%;
    color: rgb(239, 16, 39);
    border-bottom: 1px solid black;
}
.div2{
    width: 90%;
    height: 10%;
    font-size: 23px;
    color: rgb(239, 16, 39); 
    text-align: right;
    position: absolute;
    top: 35%;
    font-weight: bold;
    text-decoration: line-through;
}
.div3{
    width: 90%;
    height: 10%;
    position: absolute;
    top: 52%;
    text-align: left;
    font-size: 25px;
}
#check{
  width: 20px;
  height: 20px;
  margin-left: 10px;    
}
.card2{
  border: 1.5px solid rgb(247, 45, 45);
  height: 50vh;
  width: 20%;
  position: absolute;
  bottom: 150px;
  left: 605px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px grey; 
}
.div4{
    position:absolute;
    top:15px;
    right: 0;
    font-size: 30px;
    width: 85%;
    text-align: left;
    height: 15%;
    color: rgb(239, 16, 39);
    border-bottom: 1px solid black;
}
.div5{
    width: 90%;
    height: 10%;
    font-size: 23px;
    color: rgb(239, 16, 39); 
    text-align: right;
    position: absolute;
    top: 35%;
    font-weight: bold;
    text-decoration: line-through;
}
.div6{
    width: 90%;
    height: 10%;
    position: absolute;
    top: 52%;
    text-align: left;
    font-size: 25px;
}
#check{
  width: 20px;
  height: 20px;
  margin-left: 10px;    
}
.card3{
  border: 1.5px solid rgb(247, 45, 45);
  height: 50vh;
  width: 20%;
  position: absolute;
  bottom: 150px;
  left: 980px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px grey; 
}
.div7{
    position:absolute;
    top:15px;
    right: 0;
    font-size: 30px;
    width: 85%;
    text-align: left;
    height: 15%;
    color: rgb(239, 16, 39);
    border-bottom: 1px solid black;
}
.div8{
    width: 90%;
    height: 10%;
    font-size: 23px;
    color: rgb(239, 16, 39); 
    text-align: right;
    position: absolute;
    top: 35%;
    font-weight: bold;
    text-decoration: line-through;
}
.div9{
    width: 90%;
    height: 10%;
    position: absolute;
    top: 52%;
    text-align: left;
    font-size: 25px;
}
#check{
  width: 20px;
  height: 20px;
  margin-left: 10px;    
}

@media screen and (max-width: 600px){
.upper-container1{
    width: 290px;
  }
.upper-container2{
    left:300px;
  }
.addlist{
    display: none;
  }
.card1{
    border: 1.5px solid rgb(247, 45, 45);
    height: 10vh;
    width: 90%;
    position: absolute;
    top: 180px;
    left: 55px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px grey;
  }
.card2{
    border: 1.5px solid rgb(247, 45, 45);
    height: 10vh;
    width: 90%;
    position: absolute;
    top: 300px;
    left: 55px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px grey; 
  }  
.card3{
  border: 1.5px solid rgb(247, 45, 45);
  height: 10vh;
  width: 90%;
  position: absolute;
  top: 420px;
  left: 55px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px grey; 
}  
.div1{
  border-bottom: none;
}
.div2{
  display: none;
}
.div3{
  display: none;
}
.div4{
  border-bottom: none;
}
.div5{
  display: none;
}
.div6{
  display: none;
}
.div7{
  border-bottom: none;
}
.div8{
  display: none;
}.div9{
  display: none;
}

}
